table {
  width: 100%;
}
.mat-elevation-z8{
  // padding:1%;
  margin: 1%;
}
.heading{
  padding: 1%;
  // color: black;
}
// .mat-mdc-table {
//   border: 3px solid black;
//   background-color: white;
// }